apiVersion: apps/v1
kind: Deployment
metadata:
  name: tezca-web
  labels:
    app.kubernetes.io/name: tezca-web
    app.kubernetes.io/part-of: tezca
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: tezca-web
  template:
    metadata:
      labels:
        app.kubernetes.io/name: tezca-web
        app.kubernetes.io/part-of: tezca
    spec:
      imagePullSecrets:
        - name: ghcr-credentials
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: web
          image: ghcr.io/madfam-org/tezca/web
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 1001
            capabilities:
              drop: ["ALL"]
          ports:
            - containerPort: 3000
              protocol: TCP
          env:
            - name: NEXT_PUBLIC_API_URL
              value: "https://api.tezca.mx/api/v1"
            - name: NEXT_PUBLIC_JANUA_PUBLISHABLE_KEY
              valueFrom:
                secretKeyRef:
                  name: tezca-secrets
                  key: NEXT_PUBLIC_JANUA_PUBLISHABLE_KEY
            - name: JANUA_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: tezca-secrets
                  key: JANUA_SECRET_KEY
          livenessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
